/* 
   .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(to bottom right, #a18cd1, #fbc2eb);













} */
    
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        height: 100vh;
        font-family: Arial, sans-serif;
        padding: 20px;
        box-sizing: border-box;
        background: linear-gradient(
            rgba(15, 19, 59, 0.5), 
            rgba(10, 16, 47, 0.5)
        ), 
        url('C:\Users\parva\OneDrive\Desktop\frontend\src\components\images\image2.jpg') no-repeat center center/cover;
        
    }
    

.welcome-title {
    font-size: 3.5rem;
    color:#fff;
    margin-bottom: 100px;
    
    text-shadow: 2px 2px 4px rgba(0.5, 0, 0, 0.3);
    /* background: linear-gradient(to bottom right, #3f72b8, #100F36,#177bbe); */
    background-color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.file-drop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.file-drop {
    width: 200px;
    height: 150px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #efeff6;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-drop:hover {
    background-color: #b5ccec;
    border-color: #555;
}

.file-drop p {
    font-size: 1.2rem;
    color: #1d2151;
    margin: 0;
}

.popup-message {
    margin-top: 20px;
    padding: 10px 20px;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: #231953;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    justify-content: left;
    align-items: left;
    text-align: left;
}
