/* Navbar.css */
.navbar {
    background-color: #f1f2f6;
    color: rgb(21, 1, 1);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar-left li {
    display: inline;
  }
  
  .navbar-left li a {
    color: rgb(14, 1, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
  }
  
  .navbar-left li a:hover {
    color: #245fd5;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .brightness-control label {
    font-size: 14px;
    margin-right: 5px;
    color: #0c0c0c;
    color: rgb(14, 1, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
  }
  
  .brightness-control input {
    vertical-align: middle;
  }
  
  .btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-sign-in {
    color: rgb(14, 1, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
  }
  
  .btn-sign-in:hover {
    background:transparent;
    color:#245fd5;
    transform: scale(1.05);
  }
  
  .btn-sign-up {
    color: rgb(14, 1, 1);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
  }
  
  .btn-sign-up:hover {
    background:transparent;
    color: #245fd5;
    transform: scale(1.05);
  }
  